Page:
  actAs:
    Timestampable: ~
    Sluggable: ~
  columns:
    title:
      type:     string(100)
      notnull:  true
      default:  ''
    body:
      type:     clob
      notnull:  true
      default:  ''
    category:
      type:     string(32)
      notnull:  true
      default:  ''

Article:
  actAs:
    Timestampable: ~
  columns:
    title:
      type: string(255)
      notnull:  true
    body:
      type: string(3000)
      notnull:  true
    published_at:
      type: timestamp

ArticleDetail:
  columns:
    article_id:     integer
    article_option: string(1000)
  relations:
    Article:
      local:          article_id
      type:           one
      foreign:        id
      foreignType:    one

Comment:
  columns:
    article_id:          integer
    body:           string(1000)
  relations:
    Article:
      local:        article_id
      type:         one
      foreign:      id
      foreignType:  many
      foreignAlias: Comments

